# {{ ansible_managed }}

[Definition]

loglevel     = {{ security_rhel7_fail2ban_loglevel }}
logtarget    = {{ security_rhel7_fail2ban_logtarget }}
dbpurgeage   = {{ security_rhel7_fail2ban_dbpurgeage }}
